<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hep B</key>
	<array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>0</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>0</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>7</integer>
				<key>doseRecommendedInterval</key>
				<integer>28</integer>
				<key>doseAgeFlagLate</key>
				<integer>28</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>28</integer>
				<key>doseMinimumInterval</key>
				<integer>56</integer>
				<key>doseRecommendedAge</key>
				<integer>28</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>61</integer>
				<key>doseRecommendedInterval</key>
				<integer>56</integer>
				<key>doseAgeFlagLate</key>
				<integer>448</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>168</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>548</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>548</integer>
			</dict>
		</array>
	</array>
	<key>DTaP</key>
	<array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>98</integer>
				<key>doseMinimumInterval</key>
				<integer>180</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedInterval</key>
				<integer>180</integer>
				<key>doseAgeFlagLate</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<real>1461</real>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<real>1461</real>
				<key>doseRecommendedAgeUpperLimit</key>
				<real>2192</real>
				<key>doseAgeFlagLate</key>
				<real>2193</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>98</integer>
				<key>doseMinimumInterval</key>
				<integer>180</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedInterval</key>
				<integer>180</integer>
				<key>doseAgeFlagLate</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>180</integer>
				<key>doseRecommendedAge</key>
				<integer>455</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>548</integer>
				<key>doseRecommendedInterval</key>
				<integer>1095</integer>
				<key>doseAgeFlagLate</key>
				<integer>570</integer>
				<key>doseAgeForAlternateCatchUp</key>
				<integer>1461</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<real>1461</real>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>1460</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>2192</integer>
				<key>doseAgeFlagLate</key>
				<integer>2192</integer>
			</dict>
		</array>
	</array>
	<key>HiB</key>
	<array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>456</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>456</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>456</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>485</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>56</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>455</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>421</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>421</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>425</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>456</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>456</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>485</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>98</integer>
				<key>doseMinimumInterval</key>
				<integer>112</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedInterval</key>
				<integer>180</integer>
				<key>doseAgeFlagLate</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>456</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>485</integer>
			</dict>
		</array>
	</array>
	<key>PCV</key>
	<array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>730</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>730</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>730</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>731</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>56</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedInterval</key>
				<integer>56</integer>
				<key>doseAgeFlagLate</key>
				<integer>366</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>421</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>421</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>425</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>455</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>56</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>56</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedInterval</key>
				<integer>56</integer>
				<key>doseAgeFlagLate</key>
				<integer>366</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>421</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>421</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>425</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>455</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>56</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>56</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>98</integer>
				<key>doseMinimumInterval</key>
				<integer>112</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedInterval</key>
				<integer>180</integer>
				<key>doseAgeFlagLate</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>456</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>485</integer>
			</dict>
		</array>
	</array>
	<key>IPV</key>
	<array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>1461</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>1461</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>2192</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>2193</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>98</integer>
				<key>doseMinimumInterval</key>
				<integer>180</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>548</integer>
				<key>doseRecommendedInterval</key>
				<integer>1096</integer>
				<key>doseAgeFlagLate</key>
				<integer>578</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>1461</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>1461</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>2192</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>2193</integer>
			</dict>
		</array>
	</array>
	<key>Rota</key>
	<array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMaximumAge</key>
				<integer>104</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMaximumAge</key>
				<integer>243</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>98</integer>
				<key>doseMaximumAge</key>
				<integer>243</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>210</integer>
			</dict>
		</array>
	</array>
	<key>Hep A</key>
	<array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>168</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>729</integer>
				<key>doseRecommendedInterval</key>
				<integer>168</integer>
				<key>doseAgeFlagLate</key>
				<integer>730</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>533</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>547</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>1276</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>1277</integer>
			</dict>
		</array>
	</array>
	<key>MMR</key>
	<array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>455</integer>
				<key>doseRecommendedInterval</key>
				<integer>1096</integer>
				<key>doseAgeFlagLate</key>
				<integer>485</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>393</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>1461</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<real>2192</real>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>2193</integer>
			</dict>
		</array>
	</array>
	<key>VZV</key>
	<array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>84</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>455</integer>
				<key>doseRecommendedInterval</key>
				<integer>1096</integer>
				<key>doseAgeFlagLate</key>
				<integer>485</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>449</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<real>1461</real>
				<key>doseRecommendedAgeUpperLimit</key>
				<real>2192</real>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>2193</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>4748</integer>
				<key>doseMinimumInterval</key>
				<integer>84</integer>
				<key>doseRecommendedAge</key>
				<real>4748</real>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>4748</integer>
				<key>doseRecommendedInterval</key>
				<integer>90</integer>
				<key>doseAgeFlagLate</key>
				<real>4749</real>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>4832</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>4838</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>5197</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>5198</integer>
			</dict>
		</array>
	</array>
	<key>Tdap</key>
	<array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>2556</integer>
				<key>doseMinimumInterval</key>
				<integer>730</integer>
				<key>doseRecommendedAge</key>
				<real>4017</real>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>4748</integer>
				<key>doseRecommendedInterval</key>
				<integer>3652</integer>
				<key>doseAgeFlagLate</key>
				<integer>4749</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>6209</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>7670</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>8400</integer>
				<key>doseRecommendedInterval</key>
				<integer>3652</integer>
				<key>doseAgeFlagLate</key>
				<integer>8401</integer>
			</dict>
		</array>
	</array>
	<key>MCV</key>
	<array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>4017</integer>
				<key>doseMinimumInterval</key>
				<integer>56</integer>
				<key>doseRecommendedAge</key>
				<integer>4017</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>4748</integer>
				<key>doseRecommendedInterval</key>
				<integer>1461</integer>
				<key>doseAgeFlagLate</key>
				<integer>4749</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>4063</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>5844</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>5844</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>6209</integer>
			</dict>
		</array>
	</array>
	<key>HPV</key>
	<array>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>3287</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>4017</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>4565</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>4566</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>3315</integer>
				<key>doseMinimumInterval</key>
				<integer>84</integer>
				<key>doseRecommendedAge</key>
				<integer>4077</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>4615</integer>
				<key>doseRecommendedInterval</key>
				<integer>120</integer>
				<key>doseAgeFlagLate</key>
				<integer>4616</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>3399</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>4197</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>4748</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>4749</integer>
			</dict>
		</array>
	</array>
</dict>
</plist>
