<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DTaP</key>
	<array>
		<dict>
			<key>doseMinimumAge</key>
			<integer>42</integer>
			<key>doseMinimumInterval</key>
			<integer>28</integer>
			<key>doseRecommendedAge</key>
			<integer>60</integer>
			<key>doseRecommendedInterval</key>
			<integer>60</integer>
			<key>doseLateInterval</key>
			<integer>84</integer>
			<key>doseCausesLiveLockout</key>
			<false/>
		</dict>
		<dict>
			<key>doseMinimumAge</key>
			<integer>70</integer>
			<key>doseMinimumInterval</key>
			<integer>28</integer>
			<key>doseRecommendedAge</key>
			<integer>120</integer>
			<key>doseRecommendedInterval</key>
			<integer>56</integer>
			<key>doseLateInterval</key>
			<integer>84</integer>
			<key>doseCausesLiveLockout</key>
			<false/>
		</dict>
		<dict>
			<key>doseMinimumAge</key>
			<integer>98</integer>
			<key>doseMinimumInterval</key>
			<integer>180</integer>
			<key>doseRecommendedAge</key>
			<integer>180</integer>
			<key>doseRecommendedInterval</key>
			<integer>56</integer>
			<key>doseLateInterval</key>
			<integer>84</integer>
			<key>doseCausesLiveLockout</key>
			<false/>
		</dict>
		<dict>
			<key>doseMinimumAge</key>
			<integer>365</integer>
			<key>doseMinimumInterval</key>
			<integer>180</integer>
			<key>doseRecommendedAge</key>
			<integer>180</integer>
			<key>doseRecommendedInterval</key>
			<integer>56</integer>
			<key>doseLateInterval</key>
			<integer>84</integer>
			<key>doseCausesLiveLockout</key>
			<false/>
		</dict>
		<dict>
			<key>doseMinimumAge</key>
			<integer>1460</integer>
			<key>doseMinimumInterval</key>
			<integer>0</integer>
			<key>doseRecommendedAge</key>
			<integer>180</integer>
			<key>doseRecommendedInterval</key>
			<integer>56</integer>
			<key>doseLateInterval</key>
			<integer>84</integer>
			<key>doseCausesLiveLockout</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
