<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hep B</key>
	<dict>
		<key>Customary</key>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>0</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>0</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>7</integer>
				<key>doseRecommendedInterval</key>
				<integer>28</integer>
				<key>doseAgeFlagLate</key>
				<integer>28</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>28</integer>
				<key>doseMinimumInterval</key>
				<integer>56</integer>
				<key>doseRecommendedAge</key>
				<integer>28</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>61</integer>
				<key>doseRecommendedInterval</key>
				<integer>56</integer>
				<key>doseAgeFlagLate</key>
				<integer>448</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>168</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>548</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>548</integer>
			</dict>
		</array>
	</dict>
	<key>Rota</key>
	<dict>
		<key>Customary</key>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMaximumAge</key>
				<integer>104</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMaximumAge</key>
				<integer>243</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>98</integer>
				<key>doseMaximumAge</key>
				<integer>243</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>210</integer>
			</dict>
		</array>
	</dict>
	<key>MMR</key>
	<dict>
		<key>Customary</key>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>455</integer>
				<key>doseRecommendedInterval</key>
				<integer>1096</integer>
				<key>doseAgeFlagLate</key>
				<integer>485</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>393</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>1461</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<real>2192</real>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>2193</integer>
			</dict>
		</array>
	</dict>
	<key>VZV</key>
	<dict>
		<key>Customary</key>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>84</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>455</integer>
				<key>doseRecommendedInterval</key>
				<integer>1096</integer>
				<key>doseAgeFlagLate</key>
				<integer>485</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>449</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<real>1461</real>
				<key>doseRecommendedAgeUpperLimit</key>
				<real>2192</real>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>2193</integer>
			</dict>
		</array>
	</dict>
	<key>DTaP</key>
	<dict>
		<key>Customary</key>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>98</integer>
				<key>doseMinimumInterval</key>
				<integer>180</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedInterval</key>
				<integer>180</integer>
				<key>doseAgeFlagLate</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>180</integer>
				<key>doseRecommendedAge</key>
				<integer>455</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>548</integer>
				<key>doseRecommendedInterval</key>
				<integer>1095</integer>
				<key>doseAgeFlagLate</key>
				<integer>570</integer>
				<key>doseAgeForAlternateCatchUp</key>
				<integer>1461</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<real>1461</real>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>1460</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>2192</integer>
				<key>doseAgeFlagLate</key>
				<integer>2192</integer>
			</dict>
		</array>
		<key>FourDose</key>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>98</integer>
				<key>doseMinimumInterval</key>
				<integer>180</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedInterval</key>
				<integer>180</integer>
				<key>doseAgeFlagLate</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<real>1461</real>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<real>1461</real>
				<key>doseRecommendedAgeUpperLimit</key>
				<real>2192</real>
				<key>doseAgeFlagLate</key>
				<real>2193</real>
			</dict>
		</array>
	</dict>
	<key>PCV</key>
	<dict>
		<key>Customary</key>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>56</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>56</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>98</integer>
				<key>doseMinimumInterval</key>
				<integer>112</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedInterval</key>
				<integer>180</integer>
				<key>doseAgeFlagLate</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>456</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>485</integer>
			</dict>
		</array>
	</dict>
	<key>HiB</key>
	<dict>
		<key>Customary</key>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>98</integer>
				<key>doseMinimumInterval</key>
				<integer>112</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedInterval</key>
				<integer>180</integer>
				<key>doseAgeFlagLate</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>365</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>365</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>456</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>485</integer>
			</dict>
		</array>
	</dict>
	<key>IPV</key>
	<dict>
		<key>Customary</key>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>42</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>60</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>70</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>120</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>98</integer>
				<key>doseMinimumInterval</key>
				<integer>180</integer>
				<key>doseRecommendedAge</key>
				<integer>180</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>548</integer>
				<key>doseRecommendedInterval</key>
				<integer>1096</integer>
				<key>doseAgeFlagLate</key>
				<integer>578</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>1461</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>1461</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>2192</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>2193</integer>
			</dict>
		</array>
	</dict>
	<key>HPV</key>
	<dict>
		<key>Customary</key>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>3287</integer>
				<key>doseMinimumInterval</key>
				<integer>28</integer>
				<key>doseRecommendedAge</key>
				<integer>4017</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>4565</integer>
				<key>doseRecommendedInterval</key>
				<integer>60</integer>
				<key>doseAgeFlagLate</key>
				<integer>4566</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>3315</integer>
				<key>doseMinimumInterval</key>
				<integer>84</integer>
				<key>doseRecommendedAge</key>
				<integer>4077</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>4615</integer>
				<key>doseRecommendedInterval</key>
				<integer>120</integer>
				<key>doseAgeFlagLate</key>
				<integer>4616</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>3399</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>4197</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>4748</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>4749</integer>
			</dict>
		</array>
	</dict>
	<key>MCV</key>
	<dict>
		<key>Customary</key>
		<array>
			<dict>
				<key>doseMinimumAge</key>
				<integer>4017</integer>
				<key>doseMinimumInterval</key>
				<integer>56</integer>
				<key>doseRecommendedAge</key>
				<integer>4017</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>4748</integer>
				<key>doseRecommendedInterval</key>
				<integer>1461</integer>
				<key>doseAgeFlagLate</key>
				<integer>4749</integer>
			</dict>
			<dict>
				<key>doseMinimumAge</key>
				<integer>4063</integer>
				<key>doseMinimumInterval</key>
				<integer>0</integer>
				<key>doseRecommendedAge</key>
				<integer>5844</integer>
				<key>doseRecommendedAgeUpperLimit</key>
				<integer>5844</integer>
				<key>doseRecommendedInterval</key>
				<integer>0</integer>
				<key>doseAgeFlagLate</key>
				<integer>6209</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
